<h1>Blogs Contents</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Contents</th>
    </tr>
    <% @blogs.each do |blog| %>
    <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= link_to 'Check details', blog_path(blog.id) %></td>
    </tr>
    <% end %>
</table>
<p> <%= link_to'Post new blog', new_blog_path %>